<!doctype html>
<head>
    <meta charset="utf-8">
    <title>sun</title>
    <link rel="stylesheet" href="static/css/sun_style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/libs/jquery-2.0.3.min.js"><\/script>')</script>
    <script type="text/javascript">
        function createSvgElement(name) {
            return document.createElementNS("http://www.w3.org/2000/svg", name);
        }

        function generateSvg() {
            var size = 320;
            var svg = $("svg");

            svg.attr({ "width": size, "height": size});
            svg.append($(createSvgElement("circle")).attr({ "cx": size / 2, "cy": size / 2, "r": size * 0.235, "fill": "#FFFF23", "stroke-width": 0}));
            
            var eyeX = 34.5;
            var eyeY = 28;
            var eyeWidth = 41;
            var eyeHeight = 19;
            var eyeCurvature = 6;

            svg.append($(createSvgElement("path")).attr({ "stroke": "black", "stroke-width": "5", "fill": "transparent",
                "d": "M " + (size / 2 - eyeX - eyeWidth / 2 + 0 * eyeCurvature) + " " + (size / 2 - eyeY) + 
                     "C " + (size / 2 - eyeX - eyeWidth / 2 + 1 * eyeCurvature) + " " + (size / 2 - eyeY - eyeHeight) + 
                     ", " + (size / 2 - eyeX + eyeWidth / 2 - 1 * eyeCurvature) + " " + (size / 2 - eyeY - eyeHeight) + 
                     ", " + (size / 2 - eyeX + eyeWidth / 2 - 0 * eyeCurvature) + " " + (size / 2 - eyeY) 
            }));

            svg.append($(createSvgElement("path")).attr({ "stroke": "black", "stroke-width": "5", "fill": "transparent",
                "d": "M " + (size / 2 + eyeX - eyeWidth / 2 + 0 * eyeCurvature) + " " + (size / 2 - eyeY) + 
                     "C " + (size / 2 + eyeX - eyeWidth / 2 + 1 * eyeCurvature) + " " + (size / 2 - eyeY - eyeHeight) + 
                     ", " + (size / 2 + eyeX + eyeWidth / 2 - 1 * eyeCurvature) + " " + (size / 2 - eyeY - eyeHeight) + 
                     ", " + (size / 2 + eyeX + eyeWidth / 2 - 0 * eyeCurvature) + " " + (size / 2 - eyeY) 
            }));

            var mouthWidth = 120;
            var mouthHeight = 54;
            var mouthY = 9;

            svg.append($(createSvgElement("path")).attr({ "stroke": "black", "stroke-width": "5", "fill": "transparent",
                "d": "M " + (size / 2 - mouthWidth / 2) + " " + (size / 2 - mouthY) +
                     "C " + (size / 2 - mouthWidth / 2) + " " + (size / 2 - mouthY + mouthHeight) +
                     ", " + (size / 2 + mouthWidth / 2) + " " + (size / 2 - mouthY + mouthHeight) +
                     ", " + (size / 2 + mouthWidth / 2) + " " + (size / 2 - mouthY)
            }));
            
        }

        $(generateSvg);
    </script>
</head>
<html>
<body>

<div id="svg_div">
    <svg id="svg">
    </svg>
</div>

</body>
</html>