<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>sun</title>
    <link rel="stylesheet" href="static/css/sun_style.css">
</head>
<html>
<body>

<div id="svg_image">
	<svg width="320" height="320">
		<circle cx="160" cy="160" r="75.5" stroke="green" stroke-width="0" fill="#FFFF23" fill-opacity="1.0"/>
		<path d="M 100 151 C 100 205, 220 205, 220 151" stroke="black" stroke-width="5" fill="transparent" stroke-opacity="1.0"/>
		<path d="M 105 132 C 111 113, 140 113, 146 132" stroke="black" stroke-width="5" fill="transparent" stroke-opacity="1.0"/>
		<path d="M 174 132 C 180 113, 209 113, 215 132" stroke="black" stroke-width="5" fill="transparent" stroke-opacity="1.0"/>
	</svg>
</div>

</body>
</html>